<div class="col-md-6">
  <h2 class="text-center">Create Class</h2>
  <form [formGroup]="saveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="airplaneId">Airplane Id: </label>
      <select type="number" formControlName="airplaneId" name="airplaneId" class="form-control"
              id="airplaneId"><option *ngFor="let airplane of airplanes">{{airplane.id}}</option></select>
    </div>
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="maxSeats">Maximum seats: </label>
      <input type="number" formControlName="maxSeats" placeholder="MaxSeats" name="maxSeats" class="form-control" id="maxSeats">
    </div>
    <div class="form-group">
      <label for="spaceAvailableFlag">Space available: </label>
      <select type="text" formControlName="spaceAvailableFlag" name="spaceAvailableFlag"
              class="form-control" id="spaceAvailableFlag"><option>true</option><option>false</option></select>
    </div>
    <button class="btn btn-success">Create</button>
  </form>
</div>
