<div class="col-md-6">
  <h2 class="text-center">Create Seat</h2>
  <form [formGroup]="saveForm" (ngSubmit)="onSubmit()">
    <div  formGroupName="seatId" >
      <div class="form-group">
        <label for="num">Seat number: </label>
        <input type="number" formControlName="num" placeholder="Num" name="num" class="form-control"
               id="num">
      </div>
    </div>
    <div class="form-group">
      <label for="seatAvailableFlag">Seat available: </label>
      <select type="text" formControlName="seatAvailableFlag" name="seatAvailableFlag"
              class="form-control" id="seatAvailableFlag"><option>true</option><option>false</option></select>
    </div>
    <button class="btn btn-success">Create</button>
  </form>
</div>
