<h1>Airlines</h1>

<div class="col-md-6">
  <h2> Airline Details</h2>
  <button class="btn btn-danger" (click)="saveAirline()"> Create Airline</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let airline of airlines">
      <td class="hidden">{{airline.id}}</td>
      <td>{{airline.name}}</td>
      <td><button class="btn btn-danger" (click)="deleteAirline(airline)"> Delete</button>
        <button class="btn btn-danger" (click)="editAirline(airline)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
