<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<ul>
  <li><a routerLink="/airline-list">Airline</a></li>
  <li><a routerLink="/airplane-list">Airplane</a></li>
  <li><a routerLink="/airport-list">Airport</a></li>
  <li><a routerLink="/class-list">Class</a></li>
  <li><a routerLink="/extra-list">Extra</a></li>
  <li><a routerLink="/flight-list">Flight</a></li>
  <li><a routerLink="/pricing-list">Pricing</a></li>
  <li><a routerLink="/seat-list">Seat</a></li>
  <li><a routerLink="/taxes-list">Taxes</a></li>
</ul>
<router-outlet></router-outlet>
