<h1>Extras</h1>

<div class="col-md-6">
  <h2> Extra Details</h2>
  <button class="btn btn-danger" (click)="saveExtra()"> Create Extra</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let extra of extras">
      <td>{{extra.id}}</td>
      <td>{{extra.description}}</td>
      <td>{{extra.price}}</td>
      <td><button class="btn btn-danger" (click)="deleteExtra(extra)"> Delete</button>
        <button class="btn btn-danger" (click)="editExtra(extra)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
