<h1>Taxes</h1>

<div class="col-md-6">
  <h2> Taxes Details</h2>
  <button class="btn btn-danger" (click)="saveTaxes()"> Add Taxes</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let taxes of taxes">
      <td class="hidden">{{taxes.id}}</td>
      <td>{{taxes.amount}}</td>
      <td><button class="btn btn-danger" (click)="deleteTaxes(taxes)"> Delete</button>
        <button class="btn btn-danger" (click)="editTaxes(taxes)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
